{% extends 'users/base.html' %}

{% block content %}
  <h1>Регистрация</h1>
  {% if form.errors %}
  <div id="custom-alert" class="custom-alert alert-warning">
    <button class="close-btn" onclick="closeAlert()">×</button>
    <ul>
      {% for field, errors in form.errors.items %}
        <li><strong>{{ field|capfirst }}:</strong> {{ errors|join:", " }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <form action="{% url 'users:registration' %}" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="form-row">
      <div class="form-column">
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
          {{ form.username }}
        </div>

        <div class="form-group">
          <label for="{{ form.first_name.id_for_label }}">Имя</label>
          {{ form.first_name }}
        </div>

        <div class="form-group">
          <label for="{{ form.last_name.id_for_label }}">Фамилия</label>
          {{ form.last_name }}
        </div>
      </div>

      <div class="form-column">
        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">Email</label>
          {{ form.email }}
        </div>

        <div class="form-group password-container">
          <label for="{{ form.password1.id_for_label }}">Пароль</label>
          {{ form.password1 }}
          <span class="show-password" onclick="togglePassword()">👁️</span>
        </div>

        <div class="form-group password-container">
          <label for="{{ form.password2.id_for_label }}">Подтвердите пароль</label>
          {{ form.password2 }}
          <span class="show-password" onclick="togglePassword()">👁️</span>
        </div>
      </div>
    </div>
    
    <button type="submit" class="btn">Зарегистрироваться</button>

    <div>
      <p>Уже есть аккаунт? <a class="btn-link" href="{% url 'users:login' %}">Войдите!</a></p>
    </div>

    <div class="social-buttons">
      <button type="button" class="social-btn github"><i class="fab fa-github"></i> GitHub</button>
      <button type="button" class="social-btn google"><i class="fab fa-google"></i> Google</button>
    </div>

    <div class="social-buttons">
      <button type="button" class="social-btn vk"><i class="fab fa-vk"></i> VK</button>
      <button type="button" class="social-btn facebook"><i class="fab fa-facebook"></i> Facebook</button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script>
    function togglePassword() {
      var passwordFields = document.querySelectorAll(".password-container input");
      var passwordIcons = document.querySelectorAll(".password-container .show-password");

      passwordFields.forEach((field, index) => {
        if (field.type === "password") {
          field.type = "text";
          passwordIcons[index].textContent = "🔒"; // Скрыть пароль
        } else {
          field.type = "password";
          passwordIcons[index].textContent = "👁️"; // Показать пароль
        }
      });
    }
  </script>
{% endblock %}



